.home {
  background-color: rgb(251, 251, 251);
}

.app-icon {
  color: $darker_gray;
}

.app-name {
  color: $dark_gray;
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 10px;
}

.cta {
  color: $darker_gray;
  font-size: 28px;
  font-weight: 200;
}

.cta-header {
  color: $dark_gray;
  font-size: 36px;
  font-weight: 200;
  margin-bottom: 10px;
}
